# Umgebungsvariablen – niemals ins Repo!
.env

# Python-Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Flask-Migrate / Alembic (generierte Dateien)
# migrations/ wird bewusst eingecheckt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# terraform
terraform/.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars